<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    
    <h1>About Mahabir Pun</h1>
    <i>Mr. pun is a selfless man working for the people..
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit explicabo consectetur cupiditate, molestiae voluptatem a corrupti fugiat hic. Impedit consectetur quibusdam non cumque porro voluptates ad pariatur laboriosam, ratione beatae.
    </i>
    <hr>

</body>
</html>