<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{name}} {{address}}</h1>
    <p>Mahabir pun is a selfless man working for the people..</p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit explicabo consectetur cupiditate, molestiae voluptatem a corrupti fugiat hic. Impedit consectetur quibusdam non cumque porro voluptates ad pariatur laboriosam, ratione beatae.

    <hr>
    <h3>Awards
        <ul>
            <li>Magasay Award 2009</li>
            <li>Magasay Award 2010</li>
            <li>Magasay Award 2014</li>
        </ul>
    </h3>

    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
</body>
</html>